@import "../src/styles/Header.scss";
@import "../src/styles/Hero.scss";
@import "../src/styles/Popular.scss";
@import "../src/styles/MovieCard.scss";
@import "../src/styles/TopRetad.scss";
@import "../src/styles/MovieDetails.scss";
@import "../src/styles/ActorDetails.scss";
@import "../src/styles/FilmDetails.scss";

@import "../src/styles/Acters.scss";







* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}
